<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnerAcadaemy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddSubjectController</display-name>
    <servlet-name>AddSubjectController</servlet-name>
    <servlet-class>com.learn.servlet.AddSubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectController</servlet-name>
    <url-pattern>/AddSubjectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacherController</display-name>
    <servlet-name>AddTeacherController</servlet-name>
    <servlet-class>com.learn.servlet.AddTeacherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherController</servlet-name>
    <url-pattern>/AddTeacherController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentController</display-name>
    <servlet-name>AddStudentController</servlet-name>
    <servlet-class>com.learn.servlet.AddStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentController</servlet-name>
    <url-pattern>/AddStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssinController</display-name>
    <servlet-name>AssinController</servlet-name>
    <servlet-class>com.learn.servlet.AssinController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssinController</servlet-name>
    <url-pattern>/AssinController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateClassController</display-name>
    <servlet-name>UpdateClassController</servlet-name>
    <servlet-class>com.learn.servlet.UpdateClassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClassController</servlet-name>
    <url-pattern>/UpdateClassController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTeacher</display-name>
    <servlet-name>UpdateTeacher</servlet-name>
    <servlet-class>com.learn.servlet.UpdateTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacher</servlet-name>
    <url-pattern>/UpdateTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSubject</display-name>
    <servlet-name>UpdateSubject</servlet-name>
    <servlet-class>com.learn.servlet.UpdateSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSubject</servlet-name>
    <url-pattern>/UpdateSubject</url-pattern>
  </servlet-mapping>
</web-app>