<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>project1Servelet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.learn.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNumer</display-name>
    <servlet-name>AddNumer</servlet-name>
    <servlet-class>com.learn.AddNumer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNumer</servlet-name>
    <url-pattern>/AddNumer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSer</display-name>
    <servlet-name>LoginSer</servlet-name>
    <servlet-class>com.learn.LoginSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSer</servlet-name>
    <url-pattern>/LoginSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrimeNoSer</display-name>
    <servlet-name>PrimeNoSer</servlet-name>
    <servlet-class>com.learn.PrimeNoSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrimeNoSer</servlet-name>
    <url-pattern>/PrimeNoSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRegistrationServlet</display-name>
    <servlet-name>StudentRegistrationServlet</servlet-name>
    <servlet-class>com.learn.StudentRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegistrationServlet</servlet-name>
    <url-pattern>/StudentRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardSer</display-name>
    <servlet-name>DashboardSer</servlet-name>
    <servlet-class>com.learn.DashboardSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardSer</servlet-name>
    <url-pattern>/DashboardSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentListSer</display-name>
    <servlet-name>StudentListSer</servlet-name>
    <servlet-class>com.learn.StudentListSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentListSer</servlet-name>
    <url-pattern>/StudentListSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUpdate</display-name>
    <servlet-name>StudentUpdate</servlet-name>
    <servlet-class>com.learn.StudentUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdate</servlet-name>
    <url-pattern>/StudentUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDeleteSer</display-name>
    <servlet-name>StudentDeleteSer</servlet-name>
    <servlet-class>com.learn.StudentDeleteSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDeleteSer</servlet-name>
    <url-pattern>/StudentDeleteSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SucessSer</display-name>
    <servlet-name>SucessSer</servlet-name>
    <servlet-class>com.learn.SucessSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SucessSer</servlet-name>
    <url-pattern>/SucessSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncludeEx</display-name>
    <servlet-name>IncludeEx</servlet-name>
    <servlet-class>com.learn.IncludeEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludeEx</servlet-name>
    <url-pattern>/IncludeEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertSer</display-name>
    <servlet-name>InsertSer</servlet-name>
    <servlet-class>com.learn.InsertSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSer</servlet-name>
    <url-pattern>/InsertSer</url-pattern>
  </servlet-mapping>
</web-app>