<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlightBooking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Loginontroller</display-name>
    <servlet-name>Loginontroller</servlet-name>
    <servlet-class>com.fly.controller.Loginontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginontroller</servlet-name>
    <url-pattern>/Loginontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordController</display-name>
    <servlet-name>ChangePasswordController</servlet-name>
    <servlet-class>com.fly.controller.ChangePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordController</servlet-name>
    <url-pattern>/ChangePasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPlaceController</display-name>
    <servlet-name>AddPlaceController</servlet-name>
    <servlet-class>com.fly.controller.AddPlaceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlaceController</servlet-name>
    <url-pattern>/AddPlaceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAirLineController</display-name>
    <servlet-name>AddAirLineController</servlet-name>
    <servlet-class>com.fly.controller.AddAirLineController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAirLineController</servlet-name>
    <url-pattern>/AddAirLineController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignFlightController</display-name>
    <servlet-name>AssignFlightController</servlet-name>
    <servlet-class>com.fly.controller.AssignFlightController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignFlightController</servlet-name>
    <url-pattern>/AssignFlightController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapFlightController</display-name>
    <servlet-name>MapFlightController</servlet-name>
    <servlet-class>com.fly.controller.MapFlightController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapFlightController</servlet-name>
    <url-pattern>/MapFlightController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.fly.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentController</display-name>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>com.fly.controller.PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
</web-app>